{% extends "base.html" %}
{% block content %}


<h1> Your Account </h1>
<div class="card bg-light account">
  <div class="card-header">
    Current Account Info
  </div>
  <div class="card-body">
      <h5 class="card-title">User: {{username}}</h5>
      <h5 class="card-title">Device: {{device_id}}</h5>
      <p class="card-text">You are subscribed to {{num_subs}} podcasts! </p>
      <a href="/subscriptions"><button type="button" class="btn btn-info btn-lg btn-block acnt-btn">View Subscriptions</button></a>
      <a href="/select-device"><button type="button" class="btn btn-info btn-lg btn-block acnt-btn">Choose New Device</button></a>
      <a href="/login"><button type="button" class="btn btn-info btn-lg btn-block acnt-btn">Logout</button></a>
   </div>
</div>
&nbsp;
{% endblock %}
