{% extends "base.html" %}
{% block content %}


<!-- Here's where you log in -->
<div class="col-sm-12 text-center">
<form class="reg_form" method="POST" action = "/traveling">
  <div class="form-group">
     <small>Type in your departure and destination locations and Pozilla will find the perfect podcast to fit your travel time!</small>
     <input type="departure" class="form-control" placeholder="departure" name="departure">
  </div>
  <div class="form-group">
     <input type="destination" class="form-control" placeholder="destination" name="destination">
  </div>

  <button type="submit" class="btn btn-primary login-btn">Go!</button>
</form>

</div>

{% endblock %}
