{% extends "base.html" %}
{% block content %}
<div class="col-sm-12 text-center">
   <h1> THIS PAGE IS UNDER CONSTRUCTION </h1>
   <ul class="list-group traveling">
     <li class="list-group-item active">It will take you {{time_text}} to get to {{destination}} from {{departure}}
        <br /><small> Here are a few podcasts you can listen to during that time: </small>
     </li>
     <li class="list-group-item">
        <a href="/dashboard" target="_blank"><div class="card">
      <div class="card-body">
         <h5 class="card-title">Title</h5>
         <p class="card-text">Here is a bit of a description from a random podcast</p>
      </div></a>
      <div class="card-footer">
         <audio controls>
      <source src="https://play.podtrac.com/npr-344098539/npr.mc.tritondigital.com/WAITWAIT_PODCAST/media/anon.npr-podcasts/podcast/npr/waitwait/2018/02/20180210_waitwait_wwdtmpodcast180210-ac4d6872-fd53-47a9-a4c5-415b43c3e67f.mp3?orgId=1&d=2847&p=344098539&story=584701960&t=podcast&e=584701960&ft=pod&f=344098539" type="audio/mpeg">
     Your browser does not support the audio element.
     </audio>
      </div>
     </div>

     </li>
     <li class="list-group-item">
        <a href="/dashboard" target="_blank"><div class="card">
      <div class="card-body">
         <h5 class="card-title">Title</h5>
         <p class="card-text">Here is a bit of a description from a random podcast</p>
      </div></a>
      <div class="card-footer">
         <audio controls>
      <source src="https://play.podtrac.com/npr-344098539/npr.mc.tritondigital.com/WAITWAIT_PODCAST/media/anon.npr-podcasts/podcast/npr/waitwait/2018/02/20180210_waitwait_wwdtmpodcast180210-ac4d6872-fd53-47a9-a4c5-415b43c3e67f.mp3?orgId=1&d=2847&p=344098539&story=584701960&t=podcast&e=584701960&ft=pod&f=344098539" type="audio/mpeg">
     Your browser does not support the audio element.
     </audio>
      </div>
     </div>

     </li>
  <li class="list-group-item">
     <a href="/dashboard" target="_blank"><div class="card">
   <div class="card-body">
      <h5 class="card-title">Title</h5>
      <p class="card-text">Here is a bit of a description from a random podcast</p>
   </div></a>
   <div class="card-footer">
      <audio controls>
   <source src="https://play.podtrac.com/npr-344098539/npr.mc.tritondigital.com/WAITWAIT_PODCAST/media/anon.npr-podcasts/podcast/npr/waitwait/2018/02/20180210_waitwait_wwdtmpodcast180210-ac4d6872-fd53-47a9-a4c5-415b43c3e67f.mp3?orgId=1&d=2847&p=344098539&story=584701960&t=podcast&e=584701960&ft=pod&f=344098539" type="audio/mpeg">
  Your browser does not support the audio element.
  </audio>
   </div>
  </div>

  </li>
</ul>

</div>

{% endblock %}
